name: "Run flake8"

on:
  push:
    branches: [ master, main, test_branch]
  pull_request:
    branches: [ master, main, test_branch]

jobs:
  flake8:
    runs-on: ubuntu-latest
# coment to merge
    steps:
    
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    
    - name: Install pip
      if: steps.myCachePip.outputs.cache-hit != 'true'
      run: |
        python -m pip install --upgrade pip
    
    
    - name: Sort code
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics